body {
    font-family: Arial, sans-serif;
    background: #8bdde3;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10%;
    background: radial-gradient(circle at 20% 80%, rgb(53, 164, 160) 10%, transparent 95%);
}

header img {
    width: 100px;
    height: auto;
}

.form-container {
    max-width: 660px;
    background: #def5f9;
    margin: 50px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgb(0, 112, 116);
}

h2 {
    text-align: center;
    color: #05008c;
    margin-bottom: 5px;
}

.subtitle {
    text-align: center;
    color: #000000;
    margin-bottom: 27px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.row {
    display: flex;
    gap: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
    color: #000000;
}

input,
select,
textarea {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

textarea {
    resize: none;
    height: 90px;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #4a90e2;
}

.radio-group {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 14px;
    background-color: #09c1ca;
    color: #ffffff;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    text-decoration: none;
/*padding: 0.5rem 1.5rem;*/
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    display: inline-block;

}

button:hover {
    background: #1e88a5;
}
